.Header{
    
    background-color: #874c19;
    display: flex; 
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 100;
}

.Header_logo{
    width: 50px;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Header_title{
    color: white;
    font-size: 24px;
    margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
 
}
.Header_search{
    display: flex;
    flex:1;
}

.Header_searchInput{
   margin-left: 80px;
    height: 12px;
    padding:10px;
    border: none;
    width: 100%;
}
.Header_searchIcon{
    padding: 5px;
    height: 22px !important;
background-color: #ebccb2;
}
.Header_nav{
    display: flex;
    justify-content:space-evenly;
}
.Header_link{
    color: white;
    text-decoration: none;
}
.Header_option{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.Header_optionLineOne{
    font-size: 10px;
}
.Header_optionLineTwo{
  font-size: 13px;
  font-weight: 800;
}
.Header_optionBasket{
    display: flex;
    align-items: center;
}
.Header_basketCount{
   margin-left: 10px;
   margin-right: 10px;
}